Repository swoft-cloud/swoft-component, pull requests merged in 2019-10, with the labels that each got.

#523 fix: Write Headers to co response At send file
  src/http-message/src/Response.php
Labels: PR: reviewed

#522 Dev 2.0.7
  .php_cs
  script/Command/GenVersion.php
  src/bean/src/Container.php
  src/console/src/Advanced/Formatter/Panel.php
  src/console/src/Application.php
  src/console/src/AutoLoader.php
  src/console/src/Concern/RenderHelpInfoTrait.php
  src/console/src/ConsoleDispatcher.php
  src/console/src/ConsoleEvent.php
  src/console/src/Contract/InputInterface.php
  src/console/src/Input/AbstractInput.php
  src/console/src/Input/Input.php
  src/framework/src/SwoftApplication.php
  src/http-server/src/Command/HttpServerCommand.php
  src/http-server/test/testing/MockResponse.php
  src/process/src/Command/ProcessCommand.php
  src/rpc-server/src/Command/ServiceServerCommand.php
  src/rpc-server/src/Swoole/ConnectListener.php
  src/server/src/Command/BaseServerCommand.php
  src/server/src/Server.php
  src/stdlib/src/PhpType.php
  src/tcp-server/src/Command/TcpServerCommand.php
  src/tcp-server/src/Connection.php
  src/tcp-server/src/Listener/BeforeSettingListener.php
  src/tcp-server/src/MiddlewareChain.php
  src/tcp-server/src/Response.php
  src/tcp-server/src/Swoole/ConnectListener.php
  src/tcp-server/test/unit/ResponseTest.php
  src/tcp/src/Response.php
  src/websocket-server/src/Command/WsServerCommand.php
  src/websocket-server/src/Listener/ConnStorageSubscriber.php
  src/websocket-server/src/Message/MiddlewareChain.php
  src/websocket-server/src/Message/Response.php
  src/websocket-server/src/Storage/AbstractStorage.php
  src/websocket-server/src/Storage/SwooleStorage.php
  src/websocket-server/src/Swoole/CloseListener.php
  src/websocket-server/src/WsMessageDispatcher.php
  src/websocket-server/test/testing/MockHttpResponse.php
  src/websocket-server/test/unit/Message/ResponseTest.php
Labels: PR: processing

#529 fix:Class Swoft\Stdlib\Helper\Sys not found
  src/console/composer.json
Labels: PR: reviewed

#524 Fix 'Task' annotation 'name' default value
  src/task/src/Annotation/Mapping/Task.php
  src/task/src/Router/RouteRegister.php
Labels: PR: waiting merge
