Repository swoft-cloud/swoft-component, pull requests merged in 2020-06, with the labels that each got.

#581 No reconnection is made when rpc client receive data has timed out
  composer.json
  src/rpc-client/src/Concern/ServiceTrait.php
  src/rpc-client/src/Connection.php
Labels: PR: reviewed, enhancement, kind/rpc, kind/rpc-client, kind/rpc-server

#580 add:add response property to RpcResponseException.php(issue 1278)
  src/rpc-client/src/Concern/ServiceTrait.php
  src/rpc-client/src/Exception/RpcResponseException.php
Labels: PR: waiting merge, enhancement, kind/rpc, kind/rpc-server

#583 fix: Redis::zRangeByScore & Redis::zRevRangeByScore
  src/redis/src/Connection/Connection.php
  src/redis/src/Redis.php
Labels: PR: reviewed, kind/redis
