Repository swoft-cloud/swoft-component, pull requests merged in 2020-01, with the labels that each got.

#555 fixbug - excludedPsr4Prefixes
  src/annotation/src/Resource/AnnotationResource.php
  src/annotation/test/unit/Resource/AnnotationResourceTest.php
  src/framework/src/Processor/AnnotationProcessor.php
Labels: PR: reviewed, PR: waiting merge

#542 2.0.8 - clog and db
  src/connection-pool/src/AbstractPool.php
  src/db/src/Concern/BuildsQueries.php
  src/db/src/Concern/HasAttributes.php
  src/db/src/Connection/Connection.php
  src/db/src/Eloquent/Builder.php
  src/db/src/Eloquent/Model.php
  src/db/src/Query/Builder.php
  src/db/test/unit/Eloquent/ModelTest.php
  src/db/test/unit/Query/BuilderTest.php
  src/framework/src/SwoftApplication.php
  src/http-server/src/Middleware/MiddlewareRegister.php
  src/log/src/Handler/CFileHandler.php
  src/log/src/Handler/FileHandler.php
  src/log/src/Helper/CLog.php
  src/log/src/Logger.php
  src/redis/src/Connection/Connection.php
  src/redis/src/Connector/PhpRedisConnector.php
  src/redis/src/Contract/ConnectionInterface.php
  src/redis/src/Pool.php
  src/redis/src/Redis.php
  src/redis/test/unit/Command/StringTest.php
Labels: PR: processing, enhancement

#531 Update Connection.php
  src/db/src/Connection/Connection.php
Labels: PR: waiting review

#563 当数组键为数字时报错 SingleList::show 的参数必须为string
  src/console/src/Advanced/Formatter/MultiList.php
Labels: PR: reviewed, PR: waiting merge, kind/console
