Repository swoft-cloud/swoft-component, pull requests merged in 2020-05, with the labels that each got.

#570 add cookie propertiy SameSite
  src/http-message/src/Cookie.php
Labels: PR: reviewed, kind/http-message

#576 fix IsBoolRule Type conversion bug
  src/validator/src/Rule/IsBoolRule.php
Labels: kind/validator

#573 Enable Redis Stream function
  src/redis/src/Connection/Connection.php
  src/redis/src/Redis.php
Labels: PR: waiting review, kind/redis
